<nav class="navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Agenda</a>

      <% if(!user) {%>
        <a class="btn btn-outline-success" type="submit" href="/login">Entrar / Criar</a>
      <% }else{ %>
        <a class="btn btn-outline-danger" type="submit" href="/login/logout">Sair</a>
       <% } %>
    </div>
  </nav>