<%- include('./includes/header') %>
<%- include('./includes/nav') %>

<div class="container">
    <h1 class="text-center mt-4">Agenda</h1>
    <p class="lead text-center">Sua lista de contatos abaixo.</p>
    <div class="table-responsive">
        <table class="table table-striped table-hover mt-3">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Email</th>
                <th scope="col">Contato</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Aislan</th>
                <td>Penha</td>
                <td>aislan@email.com</td>
                <td>@98-9884254</td>
              </tr>
              <tr>
                <th scope="row">Aislan</th>
                <td>Penha</td>
                <td>aislan@email.com</td>
                <td>@98-9884254</td>
              </tr>
              <tr>
                <th scope="row">Aislan</th>
                <td>Penha</td>
                <td>aislan@email.com</td>
                <td>@98-9884254</td>
              </tr>
              <tr>
                <th scope="row">Aislan</th>
                <td>Penha</td>
                <td>aislan@email.com</td>
                <td>@98-9884254</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>  
    
<%- include('./includes/footer') %>